<section class="container-fluid section-list">
  <div>
    <app-search (searchTermValueChanged)="searchMakes($event)" (isCreate)="createMake('Create')"></app-search>
  </div>
  <div *ngIf="(makes$ | async)?.length == 0" class="error-message text-center center">
    <span>No records found</span>
  </div>

  <div *ngIf="(makes$ | async)?.length != 0">
    <table class="table">
      <thead class="#f5f5f5 grey lighten-4">
        <tr>
          <th>Name</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let make of makes$ | async'>
          <td class="capitalize">{{make.name}}</td>
          <td class="pointer" (click)="selectMake(make.make_id, 'Edit')">
              <i class="fa fa-pencil"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
