<div *ngIf="this.isAccountClosed == false && clientForm.controls.client_id.value != 1 && clientForm.controls.is_investor.value == true" class="col-12 text-right">
  <app-simple-modal [module]="moduleTD" [mode]="modeTD" [name]="clientForm.controls.name.value" (isDelete)="closeAccountAndRefund()"></app-simple-modal>
</div>
<form [formGroup]="transactionDetailsForm" (ngSubmit)="onSubmit()" >
  <div class="row">
    <div class="form-group col-12">
      <div>
        <div class="xmt-0">
          <div *ngIf="message_error" class="alert alert-danger text-center col-12">
            <strong></strong>&nbsp;<span>{{message_error}}</span>
          </div>
          <table *ngIf="isAccountClosed == false" class="table">
            <thead class="#f5f5f5 grey lighten-4">
              <tr>
                <th>Date</th>
                <th>Transaction</th>
                <th>Description</th>
                <th class="text-right">Investment</th>
                <th class="text-right">Withdrawal</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="date" class="form-control" formControlName="date" placeholder="Date">
                  <app-control-messages [control]="transactionDetailsForm.controls.date"></app-control-messages>
                </td>
                <td>
                  <select class="form-control" formControlName="transaction_type_id" (change)="getSelectedTransactionTypeMode($event.target.value)" >
                    <option *ngFor="let tt of transactionTypes$ |async" [value]="tt.transaction_type_id">{{tt.name}}
                    </option>
                  </select>
                  <app-control-messages [control]="transactionDetailsForm.controls.transaction_type_id"></app-control-messages>
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="description" placeholder="Description" >
                  <app-control-messages [control]="transactionDetailsForm.controls.description"></app-control-messages>
                </td>
                <td class="text-right">
                  <input type="text" class="form-control text-right" formControlName="credit" (keyup)="formatCurrency(transactionDetailsForm.controls.credit)" placeholder="Credit">
                  <app-control-messages [control]="transactionDetailsForm.controls.credit"></app-control-messages>
                </td>
                <td class="text-right">
                  <input type="text" class="form-control text-right" formControlName="debit" placeholder="Debit" (keyup)="formatCurrency(transactionDetailsForm.controls.debit)" >
                  <app-control-messages [control]="transactionDetailsForm.controls.debit"></app-control-messages>
                </td>
              </tr>
            </tbody>
          </table>

          <button *ngIf="isAccountClosed == false" type="submit" [disabled]="!transactionDetailsForm.valid" class="btn btn-primary btn-custom btn-md">
            <i class="fa fa-save"></i>
          </button>

          <table class="table">
            <thead class="#f5f5f5 grey lighten-4">
              <tr>
                <th>Date</th>
                <th>Transaction</th>
                <th>Description</th>
                <th class="text-right">Investment</th>
                <th class="text-right">Withdrawal</th>
                <th class="text-right">Balance</th>
                <th class="text-center">Void</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of transactionDetails$ | async; let i = index;">
                <td> {{item.date | date}}</td>
                <td>{{item.transaction_name}}</td>
                <td>{{item.description}}</td>
                <td class="text-right">{{item.credit_formatted}}</td>
                <td class="text-right">{{item.debit_formatted}}</td>
                <td></td>
                <td class="text-center">
                  <app-simple-modal *ngIf="(item.is_void == false || item.is_void == null) && (item.transaction_type_id == 1 ||item.transaction_type_id == 11)" [module]="module" [mode]="mode" (isDelete)="voidTransaction(item)"></app-simple-modal>
                  <label *ngIf="item.is_void == true">VOID</label>
                  </td>
                  <!-- <button *ngIf="item.is_void == false && (item.transaction_type_id == 1 ||item.transaction_type_id == 11)" type="button" class="btn btn-custom" name="button" (click)="voidTransaction(item)">Void</button></td> -->
                </tr>
                <tr *ngIf="(transactionDetails$ | async)?.length != 0">
                  <td class="bold green-text" colspan="3">BALANCE</td>
                  <td class="bold green-text text-right">{{total_investment}}</td>
                  <td class="bold green-text text-right">{{total_withdrawal}}</td>
                  <td class="bold green-text text-right">{{total_balance}}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
