section{
  background-color: black;
}
.content {
    text-align: left;
    font: 400 15px/1.8 "Open Sans",Verdana,sans-serif;
    color: #666;
    -webkit-font-smoothing: antialiased;
    padding: 50px;
}

.map{
padding-top: 5%;
}
.name{
  padding-top:15px;
  color:#8acc25;
}

.support{
    height: 150px;
    background-color: transparent;

    text-align: center;
    font-size: 24px;
    border-radius: 8px;
}
.contact-box-main{
    padding: 25px;
    justify-content: center;
}
.contact-box-div{
    margin-top: -10%;
}
.contact-box{
    background-color: black;
    color: #eee;
    height: 200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border:1px dotted white;
    border-radius: 5px;
}
