<section class="container-fluid section-list">
  <div>
    <app-search (searchTermValueChanged)="searchTransmissionTypes($event)" (isCreate)="createTransmissionType('Create')"></app-search>
  </div>
  <div *ngIf="(transmissionTypes$ | async)?.length == 0" class="error-message text-center center">
    <span>No records found</span>
  </div>

  <div *ngIf="(transmissionTypes$ | async)?.length != 0">
    <table class="table">
      <thead class="#f5f5f5 grey lighten-4">
        <tr>
          <th>Name</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let transmissionType of transmissionTypes$ | async'>
          <td class="capitalize">{{transmissionType.name}}</td>
          <td class="pointer" (click)="selectTransmissionType(transmissionType.transmission_type_id, 'Edit')">
              <i class="fa fa-pencil"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
