<section class="container-fluid section-list">
  <div>
    <app-search (searchTermValueChanged)="searchTransmissionTypes($event)" (isCreate)="createTransmissionType('Create')"></app-search>
  </div>
  <div>
    <div *ngIf="(transmissionTypes$ | async)?.length==0" class="alert alert-danger text-center col-12">
      <strong>Error!</strong>&nbsp;<span>No records found</span>
    </div>
    <table class="table">
      <thead class="#f5f5f5 grey lighten-4">
        <tr>
          <th>Name</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let transmissionType of transmissionTypes$ | async' [ngClass]="{'is-active': selectedTransmissionTypeId == transmissionType.transmission_type_id}">
          <td class="capitalize">{{transmissionType.name}}</td>
          <td class="pointer" (click)="selectTransmissionType(transmissionType.transmission_type_id, 'Edit')">
              <i class="fa fa-pencil"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
