<section class="container-fluid section">
  <div *ngIf="message" class="alert alert-success text-center col-12">
    <strong>Success!</strong>&nbsp;<span>{{message}}</span>
  </div>
  <div *ngIf="message_error" class="alert alert-danger text-center col-12">
    <strong>Error!</strong>&nbsp;<span>{{message_error}}</span>
  </div>
  <div class="col-12 grey lighten-4" style="padding-bottom:35px">
    <header class="header row">
      <div class="col-12">
        <app-title [title]=title></app-title>
      </div>
    </header>

    <div class="col-12">
      <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()" >
        <div class="form-group">
          <label for="inputExpenseName" class="col-sm-2 col-form-label">Name</label>
          <div>
            <div class="md-form mt-0">
              <input type="text" class="form-control capitalize" id="inputExpenseName" formControlName="name">
              <!-- <p style="color:red" *ngIf="expenseForm.controls.name.touched && expenseForm.controls.name.errors.required">Required</p> -->
              <app-control-messages [control]="expenseForm.controls.name"></app-control-messages>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="text-right">
            <!--  [disabled]="expenseForm.invalid"-->
            <button type="submit" class="btn btn-primary btn-custom btn-md" >
              <i class="fa fa-save"></i>
            </button>
            <app-simple-modal [module]="module" [mode]="mode" [name]="expenseForm.controls.name.value" (isDelete)="deleteExpense($event)"></app-simple-modal>

          </div>
        </div>
      </form>
    </div>
  </div>
</section>
