.hidden {
  visibility: hidden;
}
.loader-overlay {
  position: absolute;
  width: 100%;
  z-index: 500000;
  top: 20%;
}
.loader {
  height: 50px;
  // width: 100%;
  position: relative;
  overflow: hidden;
  background-color: greenyellow;
}
.loader:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: red;
  animation: loading 2s linear infinite;
}
@keyframes loading {
  from {left: -200px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% {left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}

//
//
// .load-bar {
//   position: relative;
//   margin-top: 20px;
//   width: 100%;
//   height: 6px;
//   background-color: #fdba2c;
// }
// .bar {
//   content: "";
//   display: inline;
//   position: absolute;
//   width: 0;
//   height: 100%;
//   left: 50%;
//   text-align: center;
// }
// .bar:nth-child(1) {
//   background-color: #da4733;
//   animation: loading 3s linear infinite;
// }
// .bar:nth-child(2) {
//   background-color: #3b78e7;
//   animation: loading 3s linear 1s infinite;
// }
// .bar:nth-child(3) {
//   background-color: #fdba2c;
//   animation: loading 3s linear 2s infinite;
// }
// @keyframes loading {
//     from {left: 50%; width: 0;z-index:100;}
//     33.3333% {left: 0; width: 100%;z-index: 10;}
//     to {left: 0; width: 100%;}
// }
