
<section class="container section" *ngIf="this.selectedCar_Id != null || this.selectedCar_Id != ''">
  <div *ngIf="message" class="alert alert-success text-center col-12">
    <strong>Success!</strong>&nbsp;<span>{{message}}</span>
  </div>
  <div *ngIf="message_error" class="error-message text-center center">
    <span>{{message_error}}</span>
  </div>
  <div class="row">
    <mat-tab-group class="col-12">
      <mat-tab *ngIf="selectedCar_Id" class="col-lg-12" label="Transaction Details">
        <div *ngIf="carForm.get('is_sold').value == false" class="col-12 grey lighten-4 mt-3">
          <header class="header row">
            <div class="col-12">
              <div class="col-12 title2">
                <h2 class="h2-responsive">Sell Car</h2>
              </div>
            </div>
          </header>
          <form class="mt-1" [formGroup]="soldDetailsForm" >
            <div class="w-100" style="display:inline-flex;flex-wrap:wrap">

              <div class="form-group col-md-3 mb-0">
                <input id="inputSoldOn" type="date" class="form-control" formControlName="sold_on">
                <app-control-messages [control]="carForm.controls.sold_on"></app-control-messages>
              </div>
              <div class="form-group col-md-2 mb-0">
                <select id="inputSoldto" class="form-control"  formControlName="sold_to" placeholder="Sold To">
                  <option *ngFor="let client of clients$ | async" [value]="client.client_id">{{client.name}}</option>
                </select>
                <app-control-messages [control]="carForm.controls.sold_to"></app-control-messages>
              </div>
              <div class="form-group col-md-3 mb-0">
                <input style="text-align:right" id="inputSoldFor" type="text" class="form-control" formControlName="selling_price" placeholder="Sold For" (keyup)="formatCurrency(soldDetailsForm.controls.selling_price)">
                <app-control-messages [control]="soldDetailsForm.controls.selling_price"></app-control-messages>
              </div>

              <div class="form-group col-md-2 text-right mb-0">
                <button *ngIf="this.carForm" [hidden]="carForm.controls.is_sold.value == true && inProcess == true" [disabled]="soldDetailsForm.invalid || soldDetailsForm.controls.selling_price.value <= 0" type="submit" class="btn btn-primary btn-custom btn-md" style="width:100%" (click)="ProcessSale()" >
                  Process/Edit Sale
                </button>
              </div>
              <div class="form-group col-md-2 text-right mb-0">
                <button *ngIf="(carForm.controls.is_sold.value == false || carForm.controls.is_sold.value == null) && inProcess == true" type="submit" class="btn btn-danger btn-md" (click)="Sell()" >
                  Sell
                </button>

              </div>
              <div class="form-group col-md-2 text-right mb-0">
                <button *ngIf="(carForm.controls.is_sold.value == false || carForm.controls.is_sold.value == null) && carForm.controls.is_parkandsell.value == true" type="submit" class="btn btn-danger btn-md" (click)="ParkAndSell()" >
                  Park And Sell
                </button>
                <label *ngIf="carForm.controls.is_sold.value == true" for="sold" class="danger" style="color:red">SOLD</label>

              </div>
            </div>
          </form>
        </div>
        <app-transaction-details (tdCount)="getTDCount($event)" (opMessage)="setMessage($event)" [transactionTypes$]="transactionTypes$" [expenses$]="expenses$" [carForm]="carForm" [refreshTD]="refreshTD"></app-transaction-details>


        <!-- <form [formGroup]="soldDetailsForm">
          <div class="row" style="padding:10px;margin:15px">
            <h5>Buyer Details</h5>
          </div>
          <div class="row #f5f5f5 grey lighten-4" style="padding-top:5px;margin:15px;">

            <div class="col col-md-12">
              <div class="form-group">
                <div>
                  <div class="md-form mt-0">
                    <input id="inputSoldOn" type="date" class="form-control" formControlName="sold_on">
                    <app-control-messages [control]="carForm.controls.sold_on"></app-control-messages>
                  </div>
                </div>
              </div>

            </div>
            <div class="col col-md-12">
              <div class="form-group">
                <div>
                  <div class="mt-0">
                    <select id="inputSoldto" class="form-control"  formControlName="sold_to" placeholder="Sold To">
                      <option *ngFor="let client of clients$ | async" [value]="client.client_id">{{client.name}}</option>
                    </select>
                    <app-control-messages [control]="carForm.controls.sold_to"></app-control-messages>
                  </div>
                </div>
              </div>
            </div>
            <div class="col col-md-12">
              <div class="form-group">
                <div>
                  <div class="md-form mt-0">
                    <input style="text-align:right" id="inputSoldFor" type="text" class="form-control" formControlName="selling_price" placeholder="Sold For" (keyup)="formatCurrency(soldDetailsForm.controls.selling_price)">
                    <app-control-messages [control]="soldDetailsForm.controls.selling_price"></app-control-messages>
                  </div>
                </div>
              </div>
            </div>
            <div class="col col-md-12">
              <button [hidden]="carForm.controls.is_sold.value == true && inProcess == true" [disabled]="soldDetailsForm.invalid || soldDetailsForm.controls.selling_price.value <= 0" type="submit" class="btn btn-primary btn-custom btn-md" style="width:100%" (click)="ProcessSale()" >
                Process/Edit Sale
              </button>

            </div>
            <div class="col col-md-12">
              <button *ngIf="(carForm.controls.is_sold.value == false || carForm.controls.is_sold.value == null) && inProcess == true" type="submit" class="btn btn-danger btn-md" (click)="Sell()" >
                Sell
              </button>
              <button *ngIf="(carForm.controls.is_sold.value == false || carForm.controls.is_sold.value == null) && carForm.controls.is_parkandsell.value == true" type="submit" class="btn btn-danger btn-md" (click)="ParkAndSell()" >
                Park And Sell
              </button>
              <label *ngIf="carForm.controls.is_sold.value == true" for="sold" class="danger" style="color:red">SOLD</label>
            </div>
          </div>
        </form> -->
        <div *ngIf="message_td_success != ''" class="success-mesage text-center col-12">
          {{message_td_success}}
        </div>
        <div *ngIf="message_td != ''" class="error-message text-center center">
          {{message_td}}
        </div>
      </mat-tab>
      <mat-tab  label="Car Details">
        <div class="col-12 grey lighten-4" style="padding-bottom:35px">
          <header class="header row">
            <div class="col-12">
              <app-title [title]=title></app-title>
            </div>
          </header>

          <div class="col-12">
            <form [formGroup]="carForm" (ngSubmit)="onSubmit()" >
              <div class="col-12" style="display:inline-flex;flex-wrap:wrap">
                <!-- *ngIf="carForm.controls.is_sold.value == true" -->
                <div class="form-check col-md-12">
                  <input type="checkbox" class="form-check-input" id="inputIsParkAndSell" formControlName="is_parkandsell" (change)="IsParkAndSell()">
                  <label class="form-check-label" for="inputIsParkAndSell">Park and Sell?</label>
                </div>

                <div class="form-check col-md-12">
                  <input type="checkbox" class="form-check-input" id="inputIsPartnerCar" formControlName="is_partnercar">
                  <label class="form-check-label" for="inputIsPartnerCar">Partner Car?</label>
                </div>

                <div class="form-group col-md-4">
                  <label for="inputMake" class=" col-form-label">Make</label>
                  <div>
                    <div class="mt-0">
                      <select class="form-control" id="inputMake" formControlName="make">
                        <option *ngFor="let make of makes$ | async" [value]="make.make_id">{{make.name}}</option>
                      </select>
                      <app-control-messages [control]="carForm.controls.make"></app-control-messages>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputModel" class=" col-form-label">Model</label>
                  <div>
                    <div class="mt-0">
                      <select id="inputModel" class="form-control" formControlName="model">
                        <option *ngFor="let model of models$ | async" [value]="model.model_id">{{model.name}}</option>
                      </select>
                      <app-control-messages [control]="carForm.controls.model"></app-control-messages>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputVariant" class=" col-form-label">Variant</label>
                  <div>
                    <div class="mt-0">
                      <select id="inputVariant" class="form-control"  formControlName="variant">
                        <option *ngFor="let variant of variants$ | async" [value]="variant.variant_id">{{variant.name}}</option>
                      </select>
                      <app-control-messages [control]="carForm.controls.variant"></app-control-messages>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputDescription" class=" col-form-label">Description</label>
                  <div>
                    <div class="md-form mt-0">
                      <input id="inputDescription" type="text" class="form-control" formControlName="description">
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputRegistration" class=" col-form-label">Registration Number</label>
                  <div>
                    <div class="md-form mt-0">
                      <input id="inputRegistration" type="text" class="form-control" formControlName="license_plate">
                      <app-control-messages [control]="carForm.controls.license_plate"></app-control-messages>
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-4">
                  <label for="inputMakeYear" class=" col-form-label">Make Year</label>
                  <div>
                    <div class="md-form mt-0">
                      <input id="inputMakeYear" type="text" class="form-control" formControlName="make_year">
                      <app-control-messages [control]="carForm.controls.make_year"></app-control-messages>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputMakeMonth" class=" col-form-label">Make Month</label>
                  <div>
                    <div class="md-form mt-0">
                      <input id="inputMakeMonth" type="text" class="form-control" formControlName="make_month">
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputMileage" class=" col-form-label">Mileage</label>
                  <div>
                    <div class="md-form mt-0">
                      <!-- <input id="inputMileage" type="number" class="form-control" formControlName="mileage"> -->
                      <input id="inputMileage" type="text" class="form-control" formControlName="mileage" (keyup)="formatCurrency(carForm.controls.mileage)">
                      <app-control-messages [control]="carForm.controls.mileage"></app-control-messages>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputOwners" class=" col-form-label">Owners</label>
                  <div>
                    <div class="md-form mt-0">
                      <input id="inputOwners" type="number" class="form-control" formControlName="owners">
                      <app-control-messages [control]="carForm.controls.owners"></app-control-messages>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputVehicleType" class=" col-form-label">Vehicle Type</label>
                  <div>
                    <div class="mt-0">
                      <select id="inputVehicleType" class="form-control" formControlName="vehicle_type">
                        <option *ngFor="let vehicleType of vehicleTypes$ | async" [value]="vehicleType.vehicle_type_id">{{vehicleType.name}}</option>
                      </select>
                      <app-control-messages [control]="carForm.controls.vehicle_type"></app-control-messages>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputFuelType" class=" col-form-label">Fuel Type</label>
                  <div>
                    <div class="mt-0">
                      <select id="inputFuelType" class="form-control" formControlName="fuel_type">
                        <option *ngFor="let fuelType of fuelTypes$ | async" [value]="fuelType.fuel_type_id">{{fuelType.name}}</option>
                      </select>
                      <app-control-messages [control]="carForm.controls.fuel_type"></app-control-messages>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputTransmissionType" class=" col-form-label">Transmission Type</label>
                  <div>
                    <div class="mt-0">
                      <select id="inputTransmissionType" class="form-control"  formControlName="transmission_type">
                        <option *ngFor="let transmissionType of transmissionTypes$ | async" [value]="transmissionType.transmission_type_id">{{transmissionType.name}}</option>
                      </select>
                      <app-control-messages [control]="carForm.controls.transmission_type"></app-control-messages>
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-4">
                  <label for="inputInsurance" class=" col-form-label">Insurance</label>
                  <div>
                    <div class="mt-0">
                      <select id="inputInsurance" class="form-control" formControlName="insurance">
                        <option *ngFor="let insurance of insurances$ | async" [value]="insurance.insurance_id">{{insurance.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputInsuranceYear" class=" col-form-label">Insurance Year</label>
                  <div>
                    <div class="md-form mt-0">
                      <input id="inputInsuranceYear" type="text" class="form-control" formControlName="insurance_year">
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputExteriorColor" class=" col-form-label">Exterior Color</label>
                  <div>
                    <div class="mt-0">
                      <select id="inputExteriorColor" class="form-control"  formControlName="exterior_color">
                        <option *ngFor="let color of colors$ | async" [value]="color.color_id">{{color.name}}</option>
                      </select>
                      <app-control-messages [control]="carForm.controls.exterior_color"></app-control-messages>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputInteriorColor" class=" col-form-label">Interior Color</label>
                  <div>
                    <div class="mt-0">
                      <select id="inputInteriorColor" class="form-control"  formControlName="interior_color">
                        <option *ngFor="let color of colors$ | async" [value]="color.color_id">{{color.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputFuelEconomy" class=" col-form-label">Fuel Economy</label>
                  <div>
                    <div class="md-form mt-0">
                      <input id="inputFuelEconomy" type="text" class="form-control" formControlName="fuel_economy">
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-4">
                  <div class="form-group">
                    <label for="inputPurchasedOn" class=" col-form-label">Purchased On</label>
                    <div>
                      <div class="md-form mt-0">
                        <input id="inputPurchasedOn" type="date" class="form-control" formControlName="purchased_on">
                        <app-control-messages [control]="carForm.controls.purchased_on"></app-control-messages>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputPurchasedFrom" class=" col-form-label">Purchased From</label>
                  <div>
                    <div class="mt-0">
                      <select id="inputPurchasedFrom" class="form-control" formControlName="purchased_from">
                        <option *ngFor="let client of clients$ | async" [value]="client.client_id">{{client.name}}</option>
                      </select>
                      <app-control-messages [control]="carForm.controls.purchased_from"></app-control-messages>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputPurchasedFor" class=" col-form-label">Purchased For</label>
                  <div>
                    <div class="md-form mt-0">
                      <input id="inputPurchasedFor" type="text" class="form-control" formControlName="purchase_price" (keyup)="formatCurrency(carForm.controls.purchase_price)">
                      <app-control-messages [control]="carForm.controls.purchase_price"></app-control-messages>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputSoldFor" class=" col-form-label">Selling Price</label>
                  <div>
                    <div class="md-form mt-0">
                      <input id="inputSoldFor" type="text" class="form-control" formControlName="selling_price" (keyup)="formatCurrency(carForm.controls.selling_price)">
                      <app-control-messages [control]="carForm.controls.selling_price"></app-control-messages>
                    </div>
                  </div>
                </div>
                <!-- Default switch -->
                <div class="form-check col-md-4" *ngIf="carForm.controls.is_sold.value == true" >
                  <input type="checkbox" class="form-check-input" id="inputIsSold" formControlName="is_sold" (change)="is_sold()">
                  <label class="form-check-label" for="inputIsSold">Sold?</label>
                </div>
                <div class="form-check col-md-4">
                  <input type="checkbox" class="form-check-input" id="inputFlooded" formControlName="is_flooded">
                  <label class="form-check-label" for="inputFlooded">Flooded?</label>
                </div>
                <div class="form-check col-md-4">
                  <input type="checkbox" class="form-check-input" id="inputAccidental" formControlName="is_accidental">
                  <label class="form-check-label" for="inputAccidental">Accidental?</label>
                </div>
                <div class="form-group" *ngIf="this.carService.selectedMode == 'Edit'" style="margin-bottom:25px">
                  <label class="btn btn-default">
                    <input type="file" multiple="multiple" (change)="selectFile($event)">
                  </label>
                  <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
                  <!-- <app-upload-file [car_id]=selectedCar_Id></app-upload-file> -->
                </div>
                <div class="text-right col-12">
                  <button type="submit" class="btn btn-primary btn-custom btn-md mr-3" >
                    <i class="fa fa-save"></i>
                  </button>
                  <app-simple-modal [module]="module" [mode]="mode" [name]="carForm.controls.make.value" (isDelete)="deleteCar($event)"></app-simple-modal>
                </div>
              </div>
            </form>
          </div>
        </div>

      </mat-tab>

    </mat-tab-group>
  </div>
</section>
