<div class="row" style="margin-bottom:25px">
   <div class="col-8"><input type="text" id="Form-email1" class="form-control" [formControl]="searchTerm"></div>
   <div class="col-2">  <button class="btn-custom col-12 text-center pointer" type="button" (click)=create()>
     <i class="fa fa-plus nm-left3"></i>
   </button>
 </div>


   <div class="col-2" *ngIf="this.name == 'soujanya.venkatesh@gmail.com'">
     <button class="btn-custom col-12 text-center pointer" type="button" (click)=deleteAllCarsAndTransactions()>
     <!-- <i class="fa fa-plus nm-left3"></i> -->
     Delete All
   </button>
</div>
