<section class="header d-none d-block">
  <mdb-navbar id="mn" SideClass="navbar navbar-expand-lg navbar-dark">
    <logo>
      <img class="logo" alt="logo" src="https://s3.amazonaws.com/gear2gear/g2g-logo.png">
    </logo>
    <links>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/home" routerLinkActive="active-link">HOME<span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown" xngIf="auth.isAuthenticated()" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            ADMIN<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" href="#" routerLink="/car/edit" routerLinkActive="active-link">CAR</a>
            <a class="dropdown-item waves-light" href="#" routerLink="/client/edit"
              routerLinkActive="active-link">CLIENT</a>
            <a class="dropdown-item waves-light" href="#" routerLink="/make/add" routerLinkActive="active-link">MAKE</a>
            <a class="dropdown-item waves-light" href="#" routerLink="/model/add">MODEL</a>
            <a class="dropdown-item waves-light" href="#" routerLink="/variant/add">VARIANT</a>
            <a class="dropdown-item waves-light" href="#" routerLink="/vehicleType/add">VEHICLE TYPE</a>
            <a class="dropdown-item waves-light" href="#" routerLink="/fuelType/add">FUEL TYPE</a>
            <a class="dropdown-item waves-light" href="#" routerLink="/transmissionType/add">TRANSMISSION</a>
            <a class="dropdown-item waves-light" href="#" routerLink="/insurance/add">INSURANCE</a>
            <a class="dropdown-item waves-light" href="#" routerLink="/expense/add">EXPENSE</a>
            <a class="dropdown-item waves-light" href="#" routerLink="/color/add">COLOR</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cars" routerLinkActive="active-link">CAR LISTING<span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" xngIf="auth.isAuthenticated()">
          <a class="nav-link" routerLink="/investors-corner" routerLinkActive="active-link">INVESTOR'S CORNER<span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active-link">ABOUT US<span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active-link">CONTACT US<span
              class="sr-only">(current)</span></a>
        </li>
      
       
        <div class="divider dropdown-divider"></div>
        <li class="nav-item" *ngIf="this.name == ''">
          <a (click)="this.isLogin = true" class="nav-link waves-light heading" mdbWavesEffect><span [ngClass]="{'router-link-active': isLogin == true}" [routerLinkActive]="['router-link-active']" class="heading">Login</span></a>
        </li>
        <!-- <div class="divider dropdown-divider" *ngIf="this.name == ''"></div> -->

        <li class="nav-item avatar dropdown  d-none d-lg-block" dropdown *ngIf="this.name != ''">
          <a  dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light heading" mdbWavesEffect>
            <img [src]="avatarURL" alt="" class="img-fluid rounded-circle z-depth-0" style="vertical-align:middle">
            <span class="ml-2" style="vertical-align:middle">{{name}}</span><span class="caret"></span>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown xdropdown-custom" role="menu">
            <a [routerLink]="'/my-account'" class="dropdown-item" mdbWavesEffect href="#">
              <img [src]="avatarURL" alt="" class="img-fluid rounded-circle z-depth-0" height="20px" width="20px" style="vertical-align:middle">
              <span [routerLinkActive]="['router-link-active']" class="heading ml-2">My Account</span></a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item" mdbWavesEffect href="#" (click)="logout()"><mdb-icon fas icon="sign-out-alt"></mdb-icon><span  [routerLinkActive]="['router-link-active']" class="heading ml-2">Logout</span></a>
          </div>
        </li>
        <li class="nav-item avatar dropdown d-lg-none" dropdown *ngIf="this.name != ''">
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light heading" mdbWavesEffect>
            <img [src]="avatarURL" alt="" class="img-fluid rounded-circle z-depth-0" style="vertical-align:middle">
            <span class="ml-2" style="vertical-align:middle">{{name}}</span><span class="caret"></span>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown xdropdown-custom" role="menu" style="position:relative !important">
            <a [routerLink]="'/my-account'" class="dropdown-item" mdbWavesEffect href="#"><img [src]="avatarURL" alt="" class="img-fluid rounded-circle z-depth-0" height="20px" width="20px" style="vertical-align:middle"><span [routerLinkActive]="['router-link-active']" class="heading ml-2">My Account</span></a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item" mdbWavesEffect href="#" (click)="logout()"><mdb-icon fas icon="sign-out-alt"></mdb-icon><span [routerLinkActive]="['router-link-active']" class="heading ml-2">Logout</span></a>
          </div>
        </li>
        <div class="divider dropdown-divider"></div>
      </ul>
    </links>
  </mdb-navbar>
</section>

 

<div *ngIf="isLogin == true">
<app-sign-in (userName)="setUserName($event)" (password)="setPassword($event)"  (isLogin)="setIsLogin($event)" (isRegister)='setIsRegister($event)'
  (isRecoverPassword)='setIsRecoverPassword($event)'></app-sign-in>
</div>
<div *ngIf="isRegister == true">
<app-sign-up (isLogin)="setIsLogin($event)" (isRegister)='setIsRegister($event)'></app-sign-up>
</div>
<div *ngIf="isRecoverPassword == true">
<app-forgot-password (isLogin)="setIsLogin($event)" (isRecoverPassword)='setIsRecoverPassword($event)'>
</app-forgot-password>
</div>
<div >
<!-- <app-verify-email [userName]="this.userName" (isVerifyOTP)="setisVerifyOTP($event)" (isLogin)="setIsLogin($event)">
</app-verify-email> -->
</div>
