.container{
  max-width:100% !important;
}
// .navbar-toggler-icon{
//   color:green !important;
// }
 button.navbar-toogler{


@extend .sr-only;
}

.sr-only{
    position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}
.header{
  height: 110px;
  background-image: url('https://s3.amazonaws.com/gear2gear/bg1.jpeg');
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top:25px;
  z-index: auto;
}

.dropdown-menu{
  height:350px;
  overflow: scroll;
}

.logo{
  width: 315px;
  margin-left: -50px;
}

a{
  font-size:12px !important;
}


/* Extra Small devices (tablets, 768px and up) col-sm */
@media (max-width: 767px) {
  .logo{
    width: 200px;
    height: auto;
    margin-left: 0px;
  }
  .header{
    height: auto;
  }
  .container{
    max-width:100% !important;
  }
}
/* Small devices (tablets, 768px and up) col-md  collapses here*/
@media (min-width: 768px) and (max-width: 992px) {
  .logo{
    width: 200px;
    height: auto;
    margin-left: 0px;
  }
  .header{
    height: auto;
  }
  .container{
    margin:0px !important;
  }
}


/* Medium devices (desktops, 992px and up)  col-lg */
@media (min-width: 992px) and (max-width: 1199px) {
  .logo{
    width: 200px;
  }
  a{
    font-size: 10px !important;
  }
  .container{
    max-width:100% !important;
  }

}
@media (min-width: 992px){
  .container {
    max-width: 100% !important;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1920px) {}
