<section class="header d-none d-block">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark navbar-custom">
    <logo>
      <img class="logo" src="./assets/images/g2g-logo.png">
    </logo>
    <links>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <!-- <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a> -->
          <a class="nav-link" href="#" routerLink="/home" routerLinkActive="active-link">HOME<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown" *ngIf="auth.isAuthenticated()" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            ADMIN<span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" xmdbWavesEffect href="#" routerLink="/car/edit" routerLinkActive="active-link">CAR</a>
              <a class="dropdown-item waves-light" xmdbWavesEffect href="#" routerLink="/client/edit" routerLinkActive="active-link">CLIENT</a>
              <a class="dropdown-item waves-light" xmdbWavesEffect href="#" routerLink="/make/add" routerLinkActive="active-link">MAKE</a>
              <a class="dropdown-item waves-light" xmdbWavesEffect href="#" routerLink="/model/add">MODEL</a>
              <a class="dropdown-item waves-light" xmdbWavesEffect href="#" routerLink="/variant/add">VARIANT</a>
              <a class="dropdown-item waves-light" xmdbWavesEffect href="#" routerLink="/vehicleType/add">VEHICLE TYPE</a>
              <a class="dropdown-item waves-light" xmdbWavesEffect href="#" routerLink="/fuelType/add">FUEL TYPE</a>
              <a class="dropdown-item waves-light" xmdbWavesEffect href="#" routerLink="/transmissionType/add">TRANSMISSION</a>
              <a class="dropdown-item waves-light" xmdbWavesEffect href="#" routerLink="/insurance/add">INSURANCE</a>
              <a class="dropdown-item waves-light" xmdbWavesEffect href="#" routerLink="/expense/add">EXPENSE</a>
              <a class="dropdown-item waves-light" xmdbWavesEffect href="#" routerLink="/color/add">COLOR</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cars" routerLinkActive="active-link">CAR LISTING<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link waves-light" mdbWavesEffect>Pricing</a> -->
            <a class="nav-link" routerLink="/investors-corner" routerLinkActive="active-link">INVESTOR'S CORNER<span class="sr-only">(current)</span></a>

          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active-link">ABOUT US<span class="sr-only">(current)</span></a>

          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active-link">CONTACT US<span class="sr-only">(current)</span></a>

          </li>
          <li class="nav-item" *ngIf="!auth.isAuthenticated()" (click)="!auth.login()">
            <a class="nav-link">LOGIN<span class="sr-only">(current)</span></a>
          </li>
          <li  class="nav-item" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
            <a class="nav-link">LOGOUT<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </links>
    </mdb-navbar>

    <!-- <mdb-navbar SideClass="mdb-nav navbar navbar-dark xfixed-top navbar-expand-lg navbar-custom navbar-transparent" [containerInside]="false" style="height:inherit">
      <logo>
        <img class="logo" src="./assets/images/g2g-logo.png">
      </logo>
      <links>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item waves-light" mdbRippleRadius>
            <a class="nav-link" href="#" routerLink="/home" routerLinkActive="active-link">HOME</a>
          </li>
          <li class="nav-item dropdown" *ngIf="auth.isAuthenticated()" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              ADMIN<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-light" mdbWavesEffect href="#" routerLink="/car/edit" routerLinkActive="active-link">CAR</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#" routerLink="/client/edit" routerLinkActive="active-link">CLIENT</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#" routerLink="/make/add" routerLinkActive="active-link">MAKE</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#" routerLink="/model/add">MODEL</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#" routerLink="/variant/add">VARIANT</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#" routerLink="/vehicleType/add">VEHICLE TYPE</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#" routerLink="/fuelType/add">FUEL TYPE</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#" routerLink="/transmissionType/add">TRANSMISSION</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#" routerLink="/insurance/add">INSURANCE</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#" routerLink="/expense/add">EXPENSE</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#" routerLink="/color/add">COLOR</a>
              </div>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link" routerLink="/cars" routerLinkActive="active-link">CAR LISTING<span class="sr-only">(current)</span></a>
            </li>
            <li *ngIf="auth.isAuthenticated()" class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link" routerLink="/investors-corner" routerLinkActive="active-link">INVESTOR'S CORNER<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link" routerLink="/about" routerLinkActive="active-link">ABOUT US<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link" routerLink="/contact" routerLinkActive="active-link">CONTACT US<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius *ngIf="!auth.isAuthenticated()" (click)="!auth.login()">
              <a class="nav-link">LOGIN<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
              <a class="nav-link">LOGOUT<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </links>
      </mdb-navbar> -->
    </section>
