<section>
  <mat-tab-group class="col-12">
    <mat-tab  label="Car Details">
      <form>
        <div *ngIf="(cars$ | async)?.length==0" class="error-message text-center col-12">
          <strong></strong>&nbsp;<span>No records found</span>
        </div>
        <table class="table">
          <thead class="#f5f5f5 grey lighten-4">
            <tr>
              <th class="text-center">Car Details</th>
              <th class="text-center">Investment</th>
              <th class="text-center">Expenses</th>
              <th class="text-center">Profit and Loss</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let car of cars;let i=index">
              <td style="color:#8acc25">
                <span>{{car.make_name}} {{car.model_name}} {{car.variant_name}} {{car.make_year}}</span><br>
                <span>{{car.vehicle_type_name}}</span><br>
                <span>{{car.fuel_type_name}}</span><br>
                <span>{{car.transmission_type_name}}</span><br>
                <span>{{car.mileage}}</span><span>Kms</span><br>
                <span>{{car.license_plate}}</span><br>
                <span>PP Rs. {{car.cost_price | currency:' '}}</span><br>
                <span>CP Rs. {{car.total_cost | currency:' '}}</span><br>
                <span>SP Rs. {{car.selling_price | currency:' '}}</span><br>
                <span>Profit Rs. {{car.selling_price - car.total_cost | currency:' '}}</span><br>
                <span>Purchased On: {{car.purchased_on |date}}</span><br>
                <span>Purchased From: {{car.purchased_from_name}}</span><br>
                <span>Sold On: {{car.sold_on |date }}</span><br>
                <span>Sold To: {{car.sold_to_name}}</span><br>
                <span>Aging Days: {{car.aging_days}}</span><br>
              </td>
              <td>
                <table class="table table-investors">
                  <thead class="#f5f5f5 grey lighten-4">
                    <tr>
                      <th>Date</th>
                      <th>Investor</th>
                      <th>Type</th>
                      <th class="text-right">Amount</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let td of transactionDetails">
                    <tr  *ngIf="(td.transaction_type_id == 1 ||td.transaction_type_id == 3) && td.date <=car.purchased_on && td.is_void != true" >
                      <td>{{td.date | date}}</td>
                      <td>{{td.investor_name}}</td>
                      <td>{{td.transaction_type_name}}</td>
                      <td class="text-right">{{td.credit| currency:' '}}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td>
                <table class="table table-investors">
                  <thead class="#f5f5f5 grey lighten-4">
                    <tr>
                      <th>Date</th>
                      <th>Expense</th>
                      <th class="text-right">Amount</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let td of transactionDetails">
                    <tr  *ngIf="td.transaction_type_id == 2 && car.car_id == td.car_id && td.is_void != true"  >
                      <td>{{td.date | date}}</td>
                      <td>{{td.expense_name}}</td>
                      <td class="text-right">{{td.debit| currency:' '}}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td>
                <table class="table table-investors">
                  <thead class="#f5f5f5 grey lighten-4">
                    <tr>
                      <th>Date</th>
                      <th>Investor</th>
                      <th class="text-right">Percentage</th>
                      <th class="text-right">Profit</th>
                      <th class="text-right">Loss</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let td of transactionDetails">
                    <tr *ngIf="(td.transaction_type_id == 3 || td.transaction_type_id == 4) && car.car_id == td.car_id && td.is_void != true"  >
                      <td>{{td.date | date}}</td>
                      <td>{{td.investor_name}}</td>
                      <td class="text-right" *ngIf="td.percentage != null">{{td.percentage| number : '1.2-2'}}%</td>
                      <td *ngIf="td.percentage == null"></td>
                      <td class="text-right">{{td.credit | currency:' '}}</td>
                      <td class="text-right">{{td.debit| currency:' '}}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>

          </tbody>
        </table>
      </form>
    </mat-tab>
    <mat-tab  label="G2G Pool Balance">
      <div class="row text-center" style="margin-top:25px">
        <h5 class="bold col-lg-2">Credits</h5><h5 class="green-text bold col-lg-2"> ₹{{total_credits}}</h5>
        <h5 class="bold col-lg-2">Available Pool Balance</h5><h5 class="green-text bold col-lg-2"> ₹{{available_balance}}</h5>
        <h5 class="bold col-lg-2">Debits</h5><h5 class="red-text bold col-lg-2"> ₹{{total_debits}}</h5>
      </div>
      <div class="table-td">
        <table class="table">
          <thead class="#f5f5f5 grey lighten-4">
            <tr>
              <th>Date</th>
              <th>Transaction</th>
              <th>Investor</th>
              <th>Car</th>
              <th>Expense</th>
              <th>Description</th>
              <th class="text-right">Credit</th>
              <th class="text-right">Debit</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of transactionDetails; let i = index;">
            <tr *ngIf="item.is_void != true">
              <td>{{item.date | date}}</td>
              <td>{{item.transaction_type_name}}</td>
              <td>{{item.investor_name}}</td>
              <td><span>{{item.make_name}}</span>&nbsp;<span>{{item.model_name}}</span>&nbsp;<span>{{item.variant_name}}</span>&nbsp;<span>{{item.make_year}}</span></td>
              <td>{{item.expense_name}}</td>
              <td>{{item.description}}</td>
              <td class="text-right">{{item.credit | currency:' '}}</td>
              <td class="text-right">{{item.debit | currency:' '}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
