<section>
  <div class="col-12">

  <div class="row">

    <div class="col-lg-6 container-left text-right">

      <img class="img-car w-100 d-none d-lg-block" src="https://s3.amazonaws.com/gear2gear/black-suv.jpeg"/>
    </div>
    <div class="col-lg-6 container-right">

      <div class="content">
        <div class="title text-center">
          <h2>Why buy a brand new car and get stuck, when you could upgrade or change your car at will?</h2>
        </div>
        <p> We all live in an expensive world and saving money is only getting harder by the day. Gear2Gear will help
          you source the right car and save you a ton of money. Most of the new car buyers get stuck to their rides not because they like it, but mostly because they fear the losses that they will incur in selling a new car immediately.
          </p>
      </div>
    </div>
  </div>
  </div>

</section>
