section{
}

.img-car{
  height:inherit;
}
.title{
  padding : 75px 25px;
  letter-spacing: 2px;
}

.container-right{
  height:550px;
  padding-left:0px;
  background-image:url("https://s3.amazonaws.com/gear2gear/yellow-car.webp"), url("https://s3.amazonaws.com/gear2gear/yellow-car.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.content{
  padding:5%;
  padding-top:5%;
  color:#121213;
}
.container-left{
  padding:0px;
  background-image: url("https://s3.amazonaws.com/gear2gear/bg4.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

p{
  padding: 50px 0px 50px 50px;
  letter-spacing: 2px;
  font-size:18px;
  color:whitesmoke;
}
h2{
  letter-spacing: 8px;
}

/* Extra Small devices (tablets, 768px and up) col-sm */
@media (max-width: 767px) {
  .container-right{
    height:auto;
    text-align: center;
  }
}
/* Small devices (tablets, 768px and up) col-md  collapses here*/
@media (min-width: 768px) and (max-width: 992px) {
  .container-right{
    height:auto;
    text-align: center;
  }
}

/* Medium devices (desktops, 992px and up)  col-lg */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1920px) {}
