section{
  // background-image: url("../../../assets/images/black-car.jpeg");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // // background-color: #f8f8f8;
}

.img-car{
height:inherit;
}
.title{
  padding : 125px 50px;
  color: #8acc25;
  // font-size: 40px !important;
  // font-weight:bold;
  font-family:arial-black;
  letter-spacing: 2px;
}
// h2 {
//   font: 44px "arial-black";
//   color: white;
// }
.h5{
  text-transform:uppercase;
}
.container-left{
  height:510px;
  padding-left:0px;
  // background-image: url("https://s3.amazonaws.com/gear2gear/black-suv.jpeg");
  background-image: url("../../../assets/images/yellow-car.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-color: #f8f8f8;
}
.content{
  padding:5%;
  padding-top:5%;
  color:#121213;
}
.container-right{
  // padding:25px;
  // padding-top:50px;
}
p{
      font-size: 15px;
      letter-spacing: 1px;
      padding: 25px 175px 25px 25px;
      color: white;
}
.strong{
  font-size: 22px;
  color: #8acc25;
  letter-spacing: 1px;
}
table.table th, table.table td {
    padding-top: 10px;
    padding-bottom: 10px;
}


/* Extra Small devices (tablets, 768px and up) col-sm */
@media (max-width: 767px) {
  .container-left{
    height:auto;
  }
}
/* Small devices (tablets, 768px and up) col-md  collapses here*/
@media (min-width: 768px) and (max-width: 992px) {

}

/* Medium devices (desktops, 992px and up)  col-lg */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1920px) {}
