section{
  margin-top: -75px;
  // background-color: #8acc25;
}

.img-car{

}
.title{
  padding : 50px;
  color: #8acc25;
  font-size: 18px;
  // text-transform: uppercase;
}

.h5{
  text-transform:uppercase;
}
.container-left{
  margin-top:50px;
  padding:25px;
  // padding-top:50px;
}
.content{
  padding:5%;
  padding-top:5%;
  color:#121213;
}
.container-right{
  // padding:25px;
  // padding-top:50px;
}
p{
  font-size: 14px;
  letter-spacing: 1px;
  padding :15px;
}
.strong{
  font-size: 22px;
  color: #8acc25;
  letter-spacing: 1px;
}
table.table th, table.table td {
    padding-top: 10px;
    padding-bottom: 10px;
}
