<section>
  <div class="col-12">
    <div class="row">
      <div class="col-lg-6 container-left">
        <div class="content">
          <div class="title text-center">
            <h2 class="accent2">Why buy a brand new car and get stuck, when you could upgrade or change your car at will?</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-6 container-right text-left">
        <div class="row flex-center">
          <p>
            We all live in an expensive world and saving money is only getting harder by the day. Gear2Gear will help
            you source the right car and save you a ton of money. Most new car buyers get stuck to their rides not because they like it, but mostly because the losses incurred are very high while selling a new car.
          </p>
          </div>
      </div>

    </div>
  </div>
</section>
