.carousel-item{
height:500px;
}
.carousel-caption{
  margin-bottom:175px !important;
}
.carousel-info{
  margin-top:35px;
}

/* Extra Small devices (tablets, 768px and up) col-sm */
@media (max-width: 767px) {
  .carousel-caption{
    margin-bottom:25px !important;
  }
  .carousel-item{
  height:240px;
  }
}
/* Small devices (tablets, 768px and up) col-md  collapses here*/
@media (min-width: 768px) and (max-width: 992px) {
  .carousel-caption{
    margin-bottom:150px !important;
  }

}

/* Medium devices (desktops, 992px and up)  col-lg */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1920px) {}
