<section>
  <div class="checklist row mask flex-center rgba-white-strong">
    <div class="title text-center">
      <h1>Our Checklist</h1>
      <p class="tag">In our expert eyes, the way the car looks and feels speaks volumes about of how the car was maintained.</p>
    </div>

    <div class="row">
      <div class="checklist-item col-md-4">
        <header>
          <div class="header__bg"></div>
          <h3>We procure cars that are customer driven and do not deal with middlemen.</h3>
        </header>
      </div>
      <div class="checklist-item col-md-4">
        <header>
          <div class="header__bg"></div>
          <h3>We check the service history and ensure that the car has been serviced through authorized service centers only.</h3>
        </header>
      </div>
      <div class="checklist-item col-md-4">
        <header>
          <div class="header__bg"></div>
          <h3>We do a thorough check for any impacts.</h3>
        </header>
      </div>

    </div>
    <div class="row row2">
      <div class="col-md-4 checklist-item">
        <header>
          <div class="header__bg"></div>
          <h3>We ensure that the odometer is not tampered with.</h3>
        </header>
      </div>
      <div class="checklist-item col-md-4">
        <header>
          <div class="header__bg"></div>
          <h3>Using our expertise we compare the tyre condition with the odometer reading.Using our expertise we compare the tyre condition with the odometer reading.</h3>
        </header>
      </div>
      <div class="checklist-item col-md-4">
        <header>
          <div class="header__bg"></div>
          <h3>We compare the paint job to the age of the car.
          </h3>
        </header>
      </div>
    </div>
  </div>
</section>
