section{
  // margin-top: -75px;
  background-color: #8acc25;
    background-color: #121213;
}

.img-car{

}
.tag{
  font-size:18px;
  letter-spacing: 2px;
  text-transform: none !important;
  color:#8acc25 !important;
}
.title{
  padding : 50px;
  color: #e5e5e5;
  font-size: 18px;
  text-transform: uppercase;
}
.container-left{
  // margin-top:50px;
  padding:25px;
  // padding-top:50px;
}
.content{
  padding:5%;
  padding-top:5%;
  color:#e5e5e5;
  letter-spacing: 1px;
}
.container-right{
  // padding:25px;
  // padding-top:50px;
}
p{
  font-size: 14px;
  letter-spacing: 1px;
  padding :15px;
}
.strong{
  font-size: 22px;
  color: #8acc25;
  letter-spacing: 1px;
}
table.table th, table.table td {
    padding-top: 10px;
    padding-bottom: 10px;
}
