section{
  background-image: url("https://s3.amazonaws.com/gear2gear/red-car-garage.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  position: relative;
  height: 225px;
  overflow: hidden;
}
.checklist{
  padding:50px;
}
.header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom:25px;
  margin-right:5px;
  background-color: darkgray;
  background-image: linear-gradient(black, #333);
  transform: skewY(-6deg);
  transform-origin: top left;
}



header .header-div{
  margin: 0;
  padding:50px 50px;
  position: relative;
  color: white;
}

.fa{
  font-size:25px !important;
  margin-bottom: 15px;
  color:#8acc25;
}

.title{
  padding : 50px;
  color: #e5e5e5;
  font-size: 18px;
  text-transform: uppercase;
}

.content{
  padding:5%;
  padding-top:5%;
  letter-spacing: 1px;
}
.row2{
   margin-top:50px;
}

/* Extra Small devices (tablets, 768px and up) col-sm */
@media (max-width: 767px) {
  .row2{
     margin-top:0px;
  }

}
/* Small devices (tablets, 768px and up) col-md  collapses here*/
@media (min-width: 768px) and (max-width: 992px) {


}

/* Medium devices (desktops, 992px and up)  col-lg */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1920px) {}
