<section>
  <div class="checklist row mask flex-center rgba-white-strong">
    <div class="title text-center">
      <h1 class="h1-responsive black-text">Our Checklist</h1>
      <p class="tag">In our expert eyes, the way the car looks and feels speaks volumes about how the car was maintained.</p>
    </div>

    <div class="row">
      <div class="checklist-item col-md-4 wow fadeInDown" data-wow-delay="0.1s">
        <header>
          <div class="header__bg"></div>
          <div class="header-div">
            <span class="col-12 fa fa-phone text-center"></span>
            <h3> We procure cars that are customer driven and do not deal with middlemen.</h3>
          </div>
        </header>
      </div>
      <div class="checklist-item col-md-4 wow fadeInDown" data-wow-delay="0.2s">
        <header>
          <div class="header__bg"></div>
          <div class="header-div">
            <span class="col-12 fa fa-phone text-center"></span>
          <h3>We check the service history and ensure that the car has been serviced through authorized service centers only.</h3>
          </div>
        </header>
      </div>
      <div class="checklist-item col-md-4 wow fadeInDown" data-wow-delay="0.3s">
        <header>
          <div class="header__bg"></div>
          <div class="header-div">
            <span class="col-12 fa fa-phone text-center"></span>
          <h3>We do a thorough check for any impacts.</h3>
          </div>
        </header>
      </div>

    </div>
    <div class="row row2">
      <div class="col-md-4 checklist-item wow fadeInUp" data-wow-delay="0.1s">
        <header>
          <div class="header__bg"></div>
          <div class="header-div">
            <!-- <span class="col-12 fa fa-phone text-center"></span> -->
            <mdb-icon fas icon="users" class="col-12 text-center"></mdb-icon>
          <h3>We ensure that the odometer is not tampered with.</h3>
          </div>
        </header>
      </div>
      <div class="checklist-item col-md-4 wow fadeInUp" data-wow-delay="0.2s">
        <header>

          <div class="header__bg"></div>
          <div class="header-div">
            <span class="col-12 fa fa-phone text-center"></span>
          <h3>Using our expertise we compare the tyre condition with the odometer reading.</h3>
          </div>
        </header>
      </div>
      <div class="checklist-item col-md-4 wow fadeInUp" data-wow-delay="0.3s">
        <header>
          <div class="header__bg"></div>
          <div class="header-div">
            <!-- <span class="col-12 fa fa-phone text-center"></span> -->
            <mdb-icon fas icon="paint-roller"></mdb-icon>
          <h3>We compare the paint job to the age of the car.
          </h3>
          </div>
        </header>
      </div>
    </div>
  </div>
</section>
