<section>
  <div class="col-12">
    <div class="title text-center">
      <h2>Our Checklist</h2>
      <p class="tag">In our expert eyes, the way the car looks and feels speaks volumes about of how the car was maintained.</p>
    </div>
  <div class="row">

    <div class="col-lg-6 container-left text-right">

      <img class="img-car w-100 d-none d-lg-block" src="https://s3.amazonaws.com/gear2gear/red-car-garage.jpeg"/>
    </div>
    <div class="col-lg-6 container-right">

      <div class="content">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">DESCRIPTION</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>We procure cars that are customer driven and do not deal with middlemen.</td>
                <td class="text-center"><i class="fa fa-check-square-o fa-small"></i></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>We check the service history and ensure that the car has been serviced through authorized service centers only.</td>
                <td class="text-center"><i class="fa fa-check-square-o fa-small"></i></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>We do a thorough check for any impacts.</td>
                <td class="text-center"><i class="fa fa-check-square-o fa-small"></i></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>We ensure that the odometer is not tampered with.</td>
                <td class="text-center"><i class="fa fa-check-square-o fa-small"></i></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Using our expertise we compare the tyre condition with the odometer reading.</td>
                <td class="text-center"><i class="fa fa-check-square-o fa-small"></i></td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>We compare the paint job to the age of the car.</td>
                <td class="text-center"><i class="fa fa-check-square-o fa-small"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>

</section>
