
<button type="button" *ngIf="mode != 'Close'" class="btn btn-danger waves-light btn-md" (click)="style.show()" mdbWavesEffect><i class="fa fa-trash"></i></button>
<button *ngIf="mode == 'Close'" class="btn btn-danger btn-md" (click)="style.show()" mdbWavesEffect>
  Close Account & Refund
</button>
<div mdbModal #style="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead capitalize">{{mode}} {{module}}</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="style.hide()">
                    <span id="linkid" aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                    <p>Are you sure you want to {{mode}} {{module}} {{name}}?</p>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-danger waves-light" mdbWavesEffect (click)="delete()">Yes</a>
                <a type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="style.hide()" mdbWavesEffect>No, thanks</a>
            </div>
        </div>
    </div>
</div>
