<section class="container-fluid section-list">
  <div>
    <app-search (searchTermValueChanged)="searchClients($event)" (isCreate)="createClient('Create')" (deleteAll)="deleteAll()"></app-search>
  </div>

  <div *ngIf="(clients$ | async)?.length == 0" class="error-message text-center center">
    No records found
    <!-- <label style="height:45px; vertical-align:center">No records found</label> -->
  </div>
  <div *ngIf="(clients$ | async)?.length == 0">
    <table  class="table">
      <thead class="#f5f5f5 grey lighten-4">
        <tr>
          <th>Name</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let client of clients$ | async'>
          <td class="capitalize">{{client.name}}</td>
          <td class="pointer" type="button" (click)="selectClient(client.client_id, 'Get')">
              <i class="fa fa-pencil"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
