section{
}

.img-car{

}
.title{
    padding-top : 50px;
  color: #8acc25;
  font-size: 18px;
}
.container-left{
  padding-left:25px;
    padding-right:25px;
  // padding-top:50px;
}
.content{
  padding-left:15%;
  padding-right:15%;
  padding-top:5%;
}
.container-right{
  padding:0px;
}
p{
  font-size: 14px;
  letter-spacing: 1px;
  padding :15px;
}

.tag{
  font-size: 18px;
  letter-spacing: 5px;
  padding :25px;
}
.strong{
  font-size: 22px;
  color: #8acc25;
  letter-spacing: 1px;
}
