section{
}

.img-car{

}

.container-left{
  padding-left:25px;
    padding-right:25px;
   padding-top:50px;
}
.content{
  padding-left:15%;
  padding-right:15%;
  padding-top:5%;
}
.container-right{
  padding:0px;
}

.tag{
   font-size: 18px;
   letter-spacing: 5px;
  padding :25px 0px 25px 0px;
  text-align: left;
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;//To Display arial black
}
.strong{
  font-size: 22px;
  color: #8acc25;
  letter-spacing: 1px;
}
