<section>
  <div class="col-12">
  <div class="row">
    <div class="col-lg-8 container-left">
      <div class="title text-center">
        <h1 class="h1-responsive">ABOUT US</h1>
      </div>
      <div class="content">
        <p>
          At a time when they were only <span class="strong">Ambassadors and Fiats</span>, Mr. Rahman, a well known name in the used car dealership business dealt with the supply of imported cars and ran a successful garage
          to fuel his passion for automobiles. His hard work and simplicity earned him a lot of respect and helped forge valuable customer relationships.
        </p>
        <p>
          After working in a corporate job for 12 years, his son Ashfaq TP -
          a car fanatic himself - established <span class="bold">Gear2Gear</span>, a car dealership
          company in Bengaluru, to carry on with the family legacy and cater to
          a growing demand for good used cars.
          His knowledge in cars along with his corporate experience has helped Gear2Gear build a successful client base in India.
        </p>
        <p class="tag">
          WE WILL HELP YOU DRIVE THE RIDE YOU DESIRE, THE RIDE YOU DESERVE
        </p>
      </div>
    </div>
    <div class="col-lg-4 container-right">
      <img class="img-car w-100 d-none d-lg-block" src="https://s3.amazonaws.com/gear2gear/black-car.jpeg"/>
    </div>
  </div>
  </div>
</section>
