header {
  position: relative;
  height: 300px;
  background-image: linear-gradient(#ff9d2f, #ff6126);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw)
  );

  background-image: url('../../../../src/assets/images/bg1.jpeg');
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  /* change the calc height to a percentage height to get alternate responsive behavior*/
}

h1 {
  margin: 0;
  padding: 100px 0;
  padding-left:50px;
  padding-top: 150px;
  font: 44px "Arial";
  color: white;
}

// h2 {
//   margin: 0;
//   padding: 100px 0;
//   padding-left:50px;
//   padding-bottom: 25px;
//   font: 34px "Arial";
//   color: black;
// }
h2 {
  font: 24px "Arial";
  color: black;
}

section {
  margin-top: -5vw;
  background-image: linear-gradient(135deg, #777, #111);
    background-image: linear-gradient(135deg, #fff, #fff);
}

.content{

  margin: 0;
  padding: 100px 0;
    padding-left:2%;
}
.no-picture-img{
  height:200px;
  width: 263px;
}

.page-title{
    height:350px;
}

.page-title-bg{
  background-image: url('../../../../src/assets/images/bg1.jpeg');
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover

}
.page-title h1{
  height:inherit;
  vertical-align: center;
padding-top:10%;
padding-bottom:10%;
padding-left:5%;
font-weight: 700;
color: #fff;
text-transform: uppercase;
font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}










.filter-div{
  border-radius:5px;
  padding:10px;
  border: 1px dotted #e8e8e8;
}
.qc{
  padding:25px;
  font-weight: bold;
  border-bottom: 5px solid #8acc25;
}
.fa{
  font-size: 22px !important;
}

.fa-small{
  font-size: 20px !important;
  margin-top:10px;
  margin-bottom:10px;
}
.col-form-label{
  font-size: 13px !important;
  text-transform: uppercase !important;
}
.title{
  // margin-left:25px;

}
.info{
  font-size: 13px;
}
.title-car{
  color: #8acc25 !important;
  text-transform:capitalize;
  font-size: 18px;
  color: #222 !important;
}
.sp{
  color: #8acc25 !important;
  font-size: 22px;
}
.car-item{
  margin-left:5px;
  border-radius:5px;
  border:1px dotted #e8e8e8;
  border-bottom:0px;
  margin-bottom:15px;
  // height:365px;

}

.car-image{
  padding:0px;
}

.car-details{
  border-left:0px;
}

.car-details-inner{
  background-color:white;
  padding:15px;
  height:inherit;
}

.component{
  background-color:#f8f8f8;
  border-right:5px solid white;
  border-bottom:5px solid white;
   padding:0px;
  font-size: 13px;
}

.component:hover{
  opacity: 0.8;
}

.accent{
  color:#8acc25 !important;
}
.filter-label{
  margin:10px;
}
.filter-control{
  margin-right:15px;
}
input[type=checkbox] {
  -ms-transform: scale(2.5); /* IE */
  -moz-transform: scale(2.5); /* FF */
  -webkit-transform: scale(2.5); /* Safari and Chrome */
  -o-transform: scale(2.5); /* Opera */
  margin-left:10px;
  margin-top:10px;
}
.mat-tab-label .mat-tab-label-content {
}
