

<header>
  <h1 class="h1-responsive">CAR LISTINGS</h1>
</header>

<section>
  <div class="content">
    <div class="filter-div xcol-lg-3">
      <div class="qc">
        <h2 class="title"><i class="fa fa-car text-right"></i>&nbsp;&nbsp;Find your car</h2>
      </div>
      <button type="submit" class="btn btn-primary btn-custom2 btn-sm mt-3" (click)="clear()">
        Clear All Filters
      </button>
      <form [formGroup]="filterForm" xaction="/action_page.php">
        <div class="text-center col-md-12" style="display:inline-flex;flex-wrap:wrap">
          <div class="form-group col-md-2 text-left">
            <label class="col-form-label">Make</label>
            <select class="form-control" formControlName="make" (change)="getFilteredCarsMake()">
              <option *ngFor="let make of makes$ | async" [value]="make.make_id">{{make.name}}</option>
            </select>
          </div>
          <div class="form-group col-md-2 text-left">
            <label class="col-form-label">Model</label>
            <select class="form-control" formControlName="model" (change)="getFilteredCars()">
              <option *ngFor="let model of models$ | async" [value]="model.model_id">{{model.name}}</option>
            </select>
          </div>
          <div class="form-group col-md-2 text-left">
            <label class="col-form-label">Variant</label>
            <select class="form-control"  formControlName="variant" (change)="getFilteredCars()">
              <option *ngFor="let variant of variants$ | async" [value]="variant.variant_id">{{variant.name}}</option>
            </select>
          </div>
          <div class="form-group col-md-2 text-left">
            <label class="col-form-label">Vehicle Type</label>
            <select class="form-control" formControlName="vehicle_type" (change)="getFilteredCars()">
              <option *ngFor="let vehicleType of vehicleTypes$ | async" [value]="vehicleType.vehicle_type_id">{{vehicleType.name}}</option>
            </select>
          </div>

          <div class="form-group col-md-2 text-left">
            <label class="col-form-label">Fuel Type</label>
            <select class="form-control" formControlName="fuel_type" (change)="getFilteredCars()">
              <option *ngFor="let fuelType of fuelTypes$ | async" [value]="fuelType.fuel_type_id">{{fuelType.name}}</option>
            </select>
          </div>
          <div class="form-group col-md-1 text-left">
            <label class="col-form-label">Transmission</label>
            <select class="form-control" formControlName="transmission_type" (change)="getFilteredCars()">
              <option *ngFor="let transmissionType of transmissionTypes$ | async" [value]="transmissionType.transmission_type_id">{{transmissionType.name}}</option>
            </select>
          </div>
          <div class="form-group col-md-1 text-center">
            <label class="col-form-label" for="inputIsSold">Sold?</label><br>
            <input type="checkbox" cclass="form-check-input" id="inputIsSold" formControlName="is_sold" (change)="getFilteredCars()">
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-12">
      <div *ngIf="pagedItems?.length==0" class="alert alert-danger text-center xcol-12" style="margin:50px">
        <strong></strong>&nbsp;<span>No records matching the search criteria.</span>
      </div>

      <div class="row car-item" *ngFor="let car of pagedItems">
        <div class="col-lg-5 xcar-image frame">
          <mdb-carousel [isControls]="true">
            <mdb-slide *ngFor="let file of car.image_urls">
              <img class="img-responsive-350" [src]="file.url" alt="First slide">
            </mdb-slide>
            <mdb-slide *ngIf="car.image_urls?.length==0">
              <img class="img-responsive-350" src="https://s3.amazonaws.com/gear2gear/no-photo1.jpeg" alt="First slide" style="height:370px">
            </mdb-slide>
          </mdb-carousel>
        </div>

        <div class="col-lg-7 car-details">
          <mat-tab-group>
            <mat-tab class="col-lg-6" label="DETAILS">
              <div class="car-details-inner">
                <div>
                  <div class="row">
                    <p class="title-car col-lg-8">{{car.make_name}} {{car.model_name}} {{car.variant_name}}
                    </p>
                    <p *ngIf="car.selling_price != null && car.selling_price != ''" class="col-lg-4 text-lg-right sp">Rs.{{car.selling_price}}</p>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center component">
                      <i class="fa fa-heartbeat fa-small"></i>
                      <p class="capitalize">{{car.fuel_type_name}}</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center component">
                      <i class="fa fa-calendar fa-small"></i>
                      <p>{{car.make_year}}</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center component">
                      <i class="fa fa-road fa-small"></i>
                      <p>{{car.mileage}} Kms</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center component">
                      <i class="fa fa-users fa-small"></i>
                      <p *ngIf="car.owners == 1">{{car.owners}} Owner</p>
                      <p *ngIf="car.owners != 1">{{car.owners}} Owners</p>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center component">
                      <i class="fa fa-magic fa-small" aria-hidden="true"></i>
                      <p class="capitalize">Ext. {{car.exterior_color_name}}</p>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center component">
                      <i class="fa fa-paint-brush fa-small" aria-hidden="true"></i>
                      <p class="capitalize">Int. {{car.interior_color_name}}</p>
                    </div>

                    <div class="col-lg-3 col-md-3 text-center component">
                      <i class="fa fa-life-ring fa-small" aria-hidden="true"></i>
                      <p class="capitalize">{{car.transmission_type_name}}</p>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center component">
                      <i class="fa fa-bolt fa-small" aria-hidden="true"></i>
                      <p *ngIf="car.is_accidental == true">Accidental? Yes</p>
                      <p *ngIf="car.is_accidental != true">Accidental? No</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center component">
                      <i class="fa fa-automobile fa-small" aria-hidden="true"></i>
                      <p class="capitalize">{{car.vehicle_type_name}}</p>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center component">
                      <i class="fa fa-thermometer-full fa-small" aria-hidden="true"></i>
                      <p>{{car.fuel_economy}}Km/l</p>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center component">
                      <i class="fa fa-file fa-small" aria-hidden="true"></i>
                      <p class="capitalize">{{car.insurance_name}}</p>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center component">
                      <i class="fa fa-car fa-small" aria-hidden="true"></i>
                      <p class="uppercase">{{car.license_plate}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab class="col-6" label="DESCRIPTION">
              <div>
                <div class="col-12" style="padding:10px;">
                  <div class="col-12">
                    <h3 class="row title-car">More Info</h3>
                  </div>
                  <p *ngIf="car.description != ''">{{car.description}}</p>
                  <p class="info" *ngIf="car.description == '' || car.description == null">NOT AVAILABLE</p>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>



    </div>
  </div>
  <!-- pager -->
  <nav aria-label="Page navigation example">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-circle pg-blue justify-content-end">
      <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item disabled">
        <a class="page-link" (click)="setPage(1)">First</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item disabled">
        <a class="page-link" aria-label="Previous" (click)="setPage(pager.currentPage - 1)">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item active">
        <a class="page-link" (click)="setPage(page)">{{page}}</a>
      </li>

      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
        <a class="page-link" aria-label="Next" (click)="setPage(pager.currentPage + 1)">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
        <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </nav>
</section>
