/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
body, html {
  height: 100%;
  // font-family: 'Roboto', sans-serif
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
body{
  color:#1C2331;
}
.h1-responsive{
  font-size:45px;
  font-family: arial-black;
}
.padding0{
  padding:0px;
}
.auth0-lock.auth0-lock .auth0-lock-header-bg {
  background-color: black !important;
}
.bold{
  font-weight: bold;
}
.is-active{
  color:green;
  font-weight: bold !important;
}

.green-text{
  color:#8acc25 !important;
}

.is-active td{
  color:green;
  font-weight: bold !important;
}
.auth0-lock-name{
  color:black;
  font-size: 40px;
  font-weight: 700;
  font-family: Ethnocentric;
}

.navbar-custom{
  background-color: #121213;
  text-align: right;
  color:gray;
  font-size: 12px;
  font-family: Bebas-Neue,Arial,sans-serif;
  letter-spacing: 0.12em;
  height: inherit;
  height:100%;
}

.navbar-transparent:not(.top-nav-collapse) {
  color: #CDCFD0 !important;
}
.nav-link{
  letter-spacing: 0.12em !important;
}
.section,
.section-div {
  min-height:100% !important;

}

.section-title{
  text-align: center;
  font-family: inherit;
  line-height: 1.1;
  padding-top: 30px;
  font-size: 32px;
  margin: 60px auto;
  text-align: center;
}
.section-title h2{
  font-weight: 300 !important;
  color:#43464B !important;
}
.p-25{
  padding:25px;
}
.m-left15{
  margin-left:15px;
}
.text-white-gray {
  color: rgba(255, 255, 255, 0.8) !important;
}
.lead {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.2rem;
  border-color: #1C2331;
  border-radius: 3px;
  padding-top: 50px;
  padding-bottom: 50px
}
.m-top25{
  margin-top:3em;
}
.m-top150{
  margin-top:150px;
}

.active-link{
  // background-color:#3F729B;
  //
  // border:0px;
  // color: white !important;
  color: #ADFF2F !important;
  color:#8acc25 !important;
}
*:focus {
  outline: 0;
}

.bg-dark{
  // background-color: #243a51 !important;
  color:#1C2331;
  // color:#243a51;
  border-bottom: 0.25px solid #1C2331;
}
.item{
  color: white !important;
}
.active-text{
  border-bottom: 3px solid #d01110;
}

.nav-item{
  margin: 0 10px;
}

@font-face {
  font-family: 'Ethnocentric';
  src: url('./assets/fonts/ethnocentric_rg.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Bebas-Neue';
  src: url('./assets/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-style: normal;
  // font-weight: normal;
}


// .logo{
//   color: greenyellow;
//   font-size: 40px;
//   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
//   font-weight: bold;
//
// }
// .logo2{
//   color: black;
//   font-size: 80px;
//   text-shadow: -1px 0 greenyellow, 0 1px greenyellow, 1px 0 greenyellow, 0 -1px greenyellow;
//   font-weight: bold;
//
// }
.btn-custom {
  background-color: #43464B !important;
  color: white !important;
  height: 38px;
  border:#43464B;
  border-radius:3px;
}
.btn-custom2 {
  background-color: #8acc25 !important;
  color: #121213 !important;
  height: 38px;
  border:#43464B;
  border-radius:3px;
  font-size:13px;
}
.capitalize{
  text-transform: capitalize;
}
.uppercase{
  text-transform: uppercase;
}
.section{
  background-color:white;
  height:100%;
}
.pointer{
  cursor: pointer;
}

.section-list{
  background-color: white;
}
.fa{
  font-size: 16px !important;
}

.nm-left3{
  margin-left: -2px !important;
}

.loader {
  border: 5px solid black; /* Light grey */
  border-top: 5px solid greenyellow; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  z-index: 1;
  position: fixed;
  left: 50%;
  top: 50%;
}

.modal-backdrop {
    /* bug fix - no overlay */
    display: none !important;
}

 .modal{
 z-index:2050 !important;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.navbar .dropdown-menu a{
  background-color: black !important;
  color:#CDCFD0 !important;
}

.bg-highlight{
  background-color: greenyellow;
}
.bg-highlight > td{
  font-weight:bold;
  border:none;
}
.bg-highlight > input{
  margin-top:-5px !important;
  border:0;
  font-weight:bold;
}
.border-none{
  border:0;
}
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Extra Small devices (tablets, 768px and up) col-sm */
@media (max-width: 767px) {
  .logo{
    width: 200px;
    height: auto;
  }
  .h1-responsive{
    font-size:20px !important;
    font-family: arial-black;
  }
}
/* Small devices (tablets, 768px and up) col-md  collapses here*/
@media (min-width: 768px) and (max-width: 992px) {

}

/* Medium devices (desktops, 992px and up)  col-lg */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1920px) {}
