/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
body, html {
  height: 100%;
  font-family:Roboto,Verdana, sans-serif;
  color:#1C2331;
}

.section,
.section-div {
  min-height:100% !important;
}

.section-title{
  text-align: center;
  font-family: inherit;
  line-height: 1.1;
  padding-top: 30px;
  font-size: 32px;
  margin: 60px auto;
  text-align: center;
}
.section-title h2{
  font-weight: 300 !important;
  color:#43464B !important;
}

.section-list{
  background-color: white;
}

/*COLORS AND BACKGROUNDS*/

.accent1{
  color:#ADFF2F !important;
}
.accent2{
  color:#8acc25;
}
.accent3{
  color:olivedrab;
}
.text-white-gray {
  color: rgba(255, 255, 255, 0.8) !important;
}

.active-link{
  color:#8acc25 !important;
}
.bg-dark{
  color:#1C2331;
  border-bottom: 0.25px solid #1C2331;
}
.green-text{
  color:#8acc25 !important;
}

.is-active{
  color:green;
  font-weight: bold !important;
}
.is-active td{
  color:green;
  font-weight: bold !important;
}

// .item{
//   color: white !important;
// }


/*BORDERS*/
.active-text{
  border-bottom: 3px solid #d01110;
}

/*Header*/
.nav-link{
  letter-spacing: 0.12em !important;
}
.nav-item{
  margin: 0 10px;
}

/* Headers and Text */
.h1-responsive{
  font-size:45px;
  font-weight: 900;
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;//To Display arial black
}
h2{
  font-weight: 900;
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;//To Display arial black
}
h3 {
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
}
.h5{
  text-transform:uppercase;
}
p{
  font-size: 15px;
  letter-spacing: 1px;
}

.tag{
  font-size:25px;
  letter-spacing: 2px;
  text-transform: none !important;
  color:black !important;
  font-weight:bold;
}

.bold{
  font-weight: bold;
}

.capitalize{
  text-transform: capitalize;
}

.uppercase{
  text-transform: uppercase;
}


/*MISCELLANEOUS*/
*:focus {
  outline: 0;
}

.fa{
  font-size: 16px !important;
}


/* auth0-lock */
.auth0-lock.auth0-lock .auth0-lock-header-bg {
  background-color: black !important;
}
.auth0-lock-name{
  color:black;
  font-size: 40px;
  font-weight: 700;
  font-family: Ethnocentric;
}

/* Margins & Padding */
.m-top25{
  margin-top:3em;
}
.m-top150{
  margin-top:150px;
}
.m-left15{
  margin-left:15px;
}
.p-25{
  padding:25px;
}
.padding0{
  padding:0px;
}
.nm-left3{
  margin-left: -2px !important;
}

/* Custom Buttons */
.btn-c-black{
  background-color: black;
  color:white !important;
}
.btn-c-black a{
  color:white !important;
  font-weight: bold;
}
.btn-c-green{
  background-color: greenyellow;
}

.btn-c-green a{
  color:black !important;
  font-weight: bold;
}
.btn-custom {
  background-color: #43464B !important;
  color: white !important;
  height: 38px;
  border:#43464B;
  border-radius:3px;
}
.btn-custom2 {
  background-color: #8acc25 !important;
  color: #121213 !important;
  height: 38px;
  border:#43464B;
  border-radius:3px;
  font-size:13px;
}

@font-face {
  font-family: 'Ethnocentric';
  src: url('./assets/fonts/ethnocentric_rg.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Bebas-Neue';
  src: url('./assets/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-style: normal;
}

.section{
  background-color:white;
  height:100%;
}
.pointer{
  cursor: pointer;
}


.loader {
  border: 5px solid black; /* Light grey */
  border-top: 5px solid greenyellow; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  z-index: 1;
  position: fixed;
  left: 50%;
  top: 50%;
}

.modal-backdrop {
  /* bug fix - no overlay */
  display: none !important;
}

.modal{
  z-index:2050 !important;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.navbar .dropdown-menu a{
  background-color: black !important;
  color:#CDCFD0 !important;
}

.bg-highlight{
  background-color: greenyellow;
}
.bg-highlight > td{
  font-weight:bold;
  border:none;
}
.bg-highlight > input{
  margin-top:-5px !important;
  border:0;
  font-weight:bold;
}
.border-none{
  border:0;
}
/* For Firefox */
input[type='number'] {
  -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



//
// .navbar-custom{
//   background-color: #121213;
//   text-align: right;
//   color:gray;
//   font-size: 12px;
//   font-family: Bebas-Neue,Arial,sans-serif;
//   letter-spacing: 0.12em;
//   height: inherit;
//   height:100%;
// }

// .navbar-transparent:not(.top-nav-collapse) {
//   color: #CDCFD0 !important;
// }

// .lead {
//   font-weight: 300;
//   letter-spacing: 1px;
//   font-size: 1.2rem;
//   border-color: #1C2331;
//   border-radius: 3px;
//   padding-top: 50px;
//   padding-bottom: 50px
// }


/* Extra Small devices (tablets, 768px and up) col-sm */
@media (max-width: 767px) {
  .logo{
    width: 200px;
    height: auto;
  }
  .h1-responsive{
    font-size:20px !important;
  }
}
/* Small devices (tablets, 768px and up) col-md  collapses here*/
@media (min-width: 768px) and (max-width: 992px) {

}

/* Medium devices (desktops, 992px and up)  col-lg */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1920px) {}
