<section class="container-fluid section-list">
  <div>
    <app-search (searchTermValueChanged)="searchCars($event)" (deleteAll)="deleteAll()" (isCreate)="createCar('Create')"></app-search>
  </div>
  <div>
    <div *ngIf="(cars$ | async)?.length==0" class="alert alert-danger text-center col-12">
      <strong>Error!</strong>&nbsp;<span>No records found</span>
    </div>
    <div *ngIf="message_error != ''" class="alert alert-danger text-center col-12">
      <strong>Error!</strong>&nbsp;<span>{{message_error}}</span>
    </div>
    <div *ngIf="message != ''" class="alert alert-danger text-center col-12">
      <strong>Error!</strong>&nbsp;<span>{{message}}</span>
    </div>
    <table class="table">
      <thead class="#f5f5f5 grey lighten-4">
        <tr>
          <th>Make</th>
          <th>Model</th>
          <th>Variant</th>
          <th>Year</th>
          <th>Status</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let car of cars$ | async' [ngClass]="{'is-active': selectedCarId == car.car_id}">
          <td class="capitalize">{{car.make_name}}</td>
          <td class="capitalize">{{car.model_name}}</td>
          <td class="capitalize">{{car.variant_name}}</td>
          <td>{{car.make_year}}</td>
          <td *ngIf="car.is_sold == true">Sold</td>
          <td *ngIf="car.is_sold != true">Active</td>
          <td class="pointer" (click)="selectCar(car.car_id, 'Edit')">
            <i class="fa fa-pencil"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
